body {
    font-family: Arial, sans-serif;
    margin: 50px;
    background-color: cornflowerblue;
}

.container {
    width: 300px;
}

input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}